@use '../../../base/variables' as v;
@use '../../../base/mixins' as m;

.nav-item--dd {
    &__dd {
        width: 20rem;
        box-shadow: 0px 0px 9px #d9d7d7;
        @include m.transitionPreviousProps(
            $opacity: 0,
            $zIndex: -1,
            $transform: translateY(1rem) scale(0),
            $transition: .1s
        );
        & {
            .btn-link {
                color: white;
                font-weight: 500;
                font-size: 1.05rem;
                text-decoration: none;
            }
        }
    }   

    &:hover {
        .nav-item--dd__dd {
            @include m.transitionDoneProps (
                $opacity: 1,
                $zIndex: 2,
                $transform: translateY(0) scale(1)
            )
        }
    }
}