$background: (inherit, white, black, khaki, lightpink);

$text-color: (inherit, dimgray, goldenrod, khaki, white, darkslategray, indianred);

$width: (150);

$radius: (
    5: 5px,
    10: 10px,
    40: 40px
);

$icon-size: (
    logo: 5.5rem,
    1: 1rem,
    2: 1.5rem,
    3: 2rem,
    4: 2.5rem
);

$border-color: (lightgray);

$blue: #80C1CB;

$nav-line-height: 2rem;

