$background: (inherit, white, black, khaki, lightpink);

$text-color: (inherit, dimgray, goldenrod, khaki, white, darkslategray, indianred);

$width: (150);

$radius: (
    5: 5px,
    10: 10px,
    40: 40px
);

$icon-size: (
    logo: 5.5rem,
    1: 1rem,
    2: 1.5rem,
    3: 2rem,
    4: 2.5rem
);

$border-color: (lightgray);

$green: aliceblue;
$blue: #80C1CB;

$radius-1: 5px;
$radius-2: 10px;
$radius-3: 40px;

$logo-size: 5.5rem;
$icon-size-1: 1rem;
$icon-size-2: 1.5rem;

$nav-line-height: 2rem;

