section.intro.row.ps-0.pe-0.mb-5.position-relative
    //- JUMBOTRON
    .intro__jumbotron.col-4.d-none.d-md-block.position-absolute.top-0.start-25.m-5.p-3.rounded.bg-light 
        p.intro__jumbotron-title.fs-5.fw-bolder   A new brand, a renewed purpose
        p.intro__jumbotron-title.fw-medium   We're still changing learning for the better — now we just look better doing it.
    //- BACKGROUND
    .intro__bgr.pe-0.ps-0.p-lg-auto
        img.w-100(
            src='https://img-c.udemycdn.com/notices/web_banner/image_udlite/dc2bc81a-a342-474d-9d09-0ba3c2bfa687.jpg',
            alt='Intro background')