-   let keywords = ['Next.js', 'React.js', 'GraphQL', 'React', 'MERN', 'Express', 'Node.Js', 'MongoDB', 'API', 'Socket.IO']

.h4.mb-4.fw-bolder  Topics recommend for you 
.keywords.row.list-group.flex-row.justify-content-between  
    each keyword in keywords 
        a.list-group-item.col-5.col-sm-2.border.border-1.rounded.m-1.text-center.fw-bold= keyword
