nav.navbar.navbar-expand-lg.navbar-light.position-fixed.top-0.start-0.w-100.bg-white.pb-4.pb-md-0.pe-0
    .container-fluid.d-block.p-0
        include ./parts/nav-upper  
        include ./parts/nav-below
    